.contact_us_form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 28px 60px 3px;
}
.contact_us_container{
    margin: 1px 389px 40px 617px;
    padding: 97px 106px 0px 25px;
    text-align: center;

}
.input{
    margin: 0px 15px 9px -47px;
    width: 283px;
    padding: 13px;
}
.input_button{
    right: 0;
    width: 75%;
    border-radius: 5px 5px 5px 5px;
    background-color: #00a3fa;
    color: #fff;
    height: 49px;
    border-style: none;
    margin: 8px 0px 18px -45px;
}
.contact_form{
    border: 1px solid;
}
.text{
   margin: 0px 10px 0px -47px;
    padding: 31px 8px;
}
contact_us_container > h2 {
    text-align: center;
}